datasets
numpy
rouge_score
fire
openai
transformers>=4.28.1
sentencepiece
tokenizers>=0.13.3
wandb
datetime
scikit-learn
torch=2.0.0
torchvision=0.15.1
tqdm
transformers
matplotlib
scipy
accelerate
evaluate
chardet
