datasets
numpy
rouge_score
fire
openai
transformers>=4.28.1
sentencepiece
tokenizers>=0.13.3
wandb
datetime
scikit-learn
tqdm
matplotlib
scipy
accelerate
evaluate
chardet
deepspeed
torchvision
